<!DOCTYPE html>
{% load static %}
<html>    
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" href={% static 'user_auth/style2.css' %}>    
</head>    
<body>    
    <h2>Login</h2><br>    
    <div class="login">    
    <form id="login" method="POST" action="{% url 'user_auth:login' %}">    
    {% csrf_token %}
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>    
        <input type="submit" name="log" id="log" value="Log In">
        <br><br>    
    </form>     
</div>    
</body>    
</html>     